Data Analytics - 1

Create a Linear Regression Model using Python/R to predict home prices using Boston Housing
Dataset (https://www.kaggle.com/c/boston-housing). The Boston Housing dataset contains
information about various houses in Boston through different parameters. There are 506 samples and
14 feature variables in this dataset.
The objective is to predict the value of prices of the house using the given features.

In [1]:
import pandas as pd
import numpy as num

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("/Users/sahilraina/Documents/train.csv")
df

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,500,0.17783,0.0,9.69,0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
329,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
330,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
331,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
332,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [3]:
df.columns

Index(['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [4]:
x = df[['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat',]]
y = df["medv"]

In [5]:
x

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,500,0.17783,0.0,9.69,0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10
329,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
330,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
331,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
332,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [6]:
y

0      24.0
1      21.6
2      33.4
3      36.2
4      22.9
       ...
328    17.5
329    22.4
330    20.6
331    23.9
332    11.9
Name: medv, Length: 333, dtype: float64

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25,random_state = 42)

In [8]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [9]:
y_pred = model.predict(x_test)

In [10]:
y_pred

array([25.42935235, 22.96355416, 22.98361313, 32.78417799, 25.00393879,
       14.02939811, 17.33416663, 30.26235415, 15.66094194, 25.17645124,
       26.57561017, 19.87047671, 20.0909698 , 34.65458829, 21.54826488,
       34.56267042, 22.2485164 , 16.882139  , 25.36436429, 16.87727359,
       36.17705665, 31.39060697, 22.8003689 , 28.13000873, 17.20049765,
       42.37151734,  7.87497041, -0.36689721, 31.09480595,  8.4983594 ,
       19.11933223, 20.39461378, 27.46125616, 15.1123262 , 19.49023076,
       12.24379213, 27.56523215,  4.49445516, 17.2050638 , 22.53286675,
       24.31038054, 22.18772176, 25.17245639, 39.17706326, 36.30722879,
       21.36801908, 11.07627164, 21.45992975, 13.86557089, 20.5226888 ,
       13.18677931, 27.99316461, 21.49698121, 13.63192997, 33.57300717,
        1.31418106, 20.80538627, 27.16216548, 25.27755635, 28.15722941,
       17.87759693, 23.94807788, 18.11868011, 28.38039855, 23.49353731,
       16.58474878, 26.43944232, 20.85487585, 23.73111221, 16.67730384,
       14.83654746, 26.14692568, 21.12274293, 12.8361667 , 24.2684098 ,
       33.5090989 , 22.02205101, 23.54787016, 22.92262304, 16.50548743,
       21.16265595, 28.70685258, 40.24134644, 15.29564422])

In [11]:
model.score(x_train,y_train)

0.7322764285677805

In [12]:
model.score(x_test,y_test)

0.7257587357992878

In [14]:
num.sqrt(mean_squared_error(y_test,y_pred))

4.823701046478242